nav a {
  position: relative;
}

nav a.active {
  @apply text-primary-500;
}

nav a .active-underline {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  height: 2px;
  width: 100%;
  visibility: hidden;
  @apply bg-primary-500;
}

nav a.active .active-underline {
  visibility: visible;
}
.logo-desktop {
  display: block;
}

.logo-mobile {
  display: none;
}

@media (max-width: 640px) {
  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: block;
  }
}

@media (max-width: 640px) {

  .logo-desktop {
    display: none;
  }
  .logo-mobile {
    display: block;
  }
}
