.container {
  max-width: 1500px;
}

.helpinhos-list {
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

input[type='number'],
input[type='date'],
select {
  background-color: white;
  border-radius: 0.375rem;
  transition: border-color 0.3s ease;
}

input[type='number']:focus,
input[type='date']:focus,
select:focus {
  border-color: #5b21b6; /* Primary Color */
}

button {
  transition: background-color 0.3s ease;
}
