/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';
* {
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

.spinner-border {
  width: 1em;
  height: 1em;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
