<div class="min-h-screen bg-gray-50 flex items-center justify-center">
  <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-8">
    <div class="text-center mb-6">
      <p class="text-3xl font-bold text-gray-900 mb-4">
        {{ step === 'request' ? 'Esqueceu a senha?' : 'Redefinir senha' }}
      </p>
      <p class="text-neutral-700">
        {{ step === 'request'
        ? 'Digite seu email para receber o código de verificação.'
        : 'Digite o código enviado para o seu email e sua nova senha.' }}
      </p>
    </div>

    <form (ngSubmit)="step === 'request' ? sendCode() : resetPassword()">
      @if (step === 'request' || step === 'reset') {
        <div class="mb-4">
          <label for="email" class="block text-neutral-700 font-medium mb-1">Email</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            class="w-full p-3 border border-gray-300 rounded-lg"
            placeholder="Seu email"
            required
            />
          </div>
        }

        @if (step === 'reset') {
          <div>
            <div class="mb-4">
              <label for="code" class="block text-neutral-700 font-medium mb-1">Código</label>
              <input
                type="text"
                id="code"
                [(ngModel)]="code"
                name="code"
                class="w-full p-3 border border-gray-300 rounded-lg"
                placeholder="Código recebido"
                required
                />
              </div>
              <div class="mb-4">
                <label for="newPassword" class="block text-neutral-700 font-medium mb-1"
                  >Nova Senha</label
                  >
                  <input
                    type="password"
                    id="newPassword"
                    [(ngModel)]="newPassword"
                    name="newPassword"
                    class="w-full p-3 border border-gray-300 rounded-lg"
                    placeholder="Nova senha"
                    required minlength="8" pattern="^(?=.*[A-Za-z])(?=.*\d).+$"
                    #newPasswordInput
                    />
                    @if (!newPasswordInput.validity.valid) {
                      <div class="text-red-600">
                        A senha deve conter pelo menos 8 caracteres, incluindo letras e números
                      </div>
                    }
                  </div>
                </div>
              }

              @if (errorMessage) {
                <div class="text-red-500 mb-4">
                  {{ errorMessage }}
                </div>
              }

              @if (successMessage) {
                <div class="text-green-500 mb-4">
                  {{ successMessage }}
                </div>
              }

              <button
                [disabled]="isLoading"
                type="submit"
                class="w-full bg-primary-600 text-white py-3 rounded-lg font-medium"
                >
                {{ step === 'request' ? 'Enviar Código' : 'Redefinir Senha' }}
              </button>
            </form>

            <div class="mt-6 text-center text-neutral-700">
              <a routerLink="/login" class="text-primary-700 font-semibold hover:underline"
                >Voltar ao Login</a
                >
              </div>
            </div>
          </div>
