<footer class="bg-white py-8 px-8 border-t border-gray-200">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-gray-600">
      <img src="assets/helpinho-logo.webp" alt="Helpinho Logo" class="h-6 mb-4">
      <p class="text-sm">&copy; 2077 Helpinho. Todos os direitos reservados.</p>
    </div>

    <div class="flex space-x-8">
      <a href="#" class="text-gray-600 hover:text-primary-500 font-medium">Termos de Serviço</a>
      <a href="#" class="text-gray-600 hover:text-primary-500 font-medium">Política de Privacidade</a>
    </div>
  </div>
</footer>
